.favorite-button {
  background-color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #5e5e5e;
}

.favorite-button:hover {
  color: orange;
}

.favorited {
  color: rgba(255, 165, 0, .8);
}

.favorited:hover {
  color: #5e5e5e;
}