.song-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  gap: 1rem;
  margin-bottom: 2rem;
}

.song-details .song-title {
  font-size: 2rem;
  margin: 0;
}

.song-details .song-artist {
  font-size: 1.75rem;
  font-weight: 300;
  margin: 0;
}

.song-details .song-album {
  font-size: 1.25rem;
  margin: 0;
}

.song-details .modal-button-container {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.song-details button:not(.favorite-button) {
  font-size: 1.25rem;
  padding:  .5rem 1rem;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
  border-radius: 10px;
  cursor: pointer;
}

.song-details .song-artwork {
  height: 300px;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,.2);
  border-radius: 20px;
}