audio {
  width: 100%;
  max-width: 1000px;
  border-radius: 0;
  -webkit-text-fill-color: orange;
  height: 3.4rem;
}

audio::-webkit-media-controls-panel {
  background-color: #5e5e5e;
}

audio::-webkit-media-controls-play-button {
  background-color: rgba(255, 165, 0, .8);
  border-radius: 50%;
}